<div
  class="flex justify-content-center align-items-center min-h-screen bg-dark"
>
  <div
    class="surface-card shadow-4 border-round-lg p-4 w-full sm:w-10 md:w-6 lg:w-4"
  >
    <h2 class="text-center">RECUPERAR CONTRASEÑA</h2>
    <div class="card w-full p-4">
      <p-messages [(value)]="messages" [enableService]="false" />

      @if (token === null) {
      <!-- Field and button to send email, no form needed -->
      <input
        type="text"
        pInputText
        placeholder="Correo electrónico"
        [(ngModel)]="email"
        class="p-inputtext w-full"
      />
      <div class="flex justify-content-between gap-3 align-items-center mt-2">
        <div *ngFor="let category of categories" class="field-checkbox">
          <p-radioButton
            [inputId]="category.key"
            [value]="category.key"
            [(ngModel)]="role"
          ></p-radioButton>
          <label [for]="category.key" class="ml-1">{{ category.name }}</label>
        </div>
      </div>
      <p-button
        label="Enviar correo"
        styleClass="p-button-primary mt-3 w-full"
        (click)="sendResetPasswordEmail()"
      />
      } @else {
      <!-- Field and button to reset password, no form -->
      <input
        type="text"
        pInputText
        placeholder="Nueva contraseña"
        [(ngModel)]="password"
        class="w-full"
      />
      <input
        type="text"
        pInputText
        placeholder="Confirmar contraseña"
        [(ngModel)]="confirmPassword"
        class="w-full mt-2"
      />
      <p-button
        label="Cambiar contraseña"
        styleClass="p-button-primary mt-3 w-full"
        (click)="resetPassword()"
      />
      }
      <p-button
        label="Regresar"
        severity="secondary"
        styleClass="mt-3 w-full"
        (click)="goBackToLogin()"
      />
    </div>
  </div>
</div>
