<div
  class="w-full text-center flex flex-row justify-content-between align-items-center"
>
  <img src="udhlog.png" height="70rem" class="m-2" />
  <div class="flex flex-row gap-4 m-2">
    <div class="flex flex-row gap-0 align-items-center">
      <p-chip
        styleClass="bg-transparent"
        [icon]="isDarkMode ? 'pi pi-moon' : 'pi pi-sun'"
      />
      <p-inputSwitch
        [ngModel]="isDarkMode"
        (ngModelChange)="toggleLightDark()"
        styleClass="p-button-rounded"
      />
    </div>
    @if (!isOnAuth) {
    <!-- Coordinator Buttons -->
    <p-button
      *ngIf="role === 'coordinator'"
      label="Gestionar Ponentes"
      icon="pi pi-users"
      [severity]="selButtonStyle.severity"
      styleClass="p-button-rounded"
      (click)="goToSpeakers()"
    />
    <p-button
      *ngIf="role === 'coordinator'"
      icon="pi pi-plus"
      label="Nuevo Evento"
      [severity]="selButtonStyle.severity"
      styleClass="p-button-rounded"
      (click)="displayCreateEvent = true"
    />
    <!-- Student Buttons -->
    <p-button
      *ngIf="role === 'student'"
      label="Mis Eventos"
      icon="pi pi-calendar"
      [severity]="selButtonStyle.severity"
      styleClass="p-button-rounded"
      (click)="goToMyEvents()"
    />
    <header-notis />
    <!-- Common Buttons -->
    <p-button
      label="Eventos"
      icon="pi pi-calendar"
      [severity]="selButtonStyle.severity"
      styleClass="p-button-rounded"
      (click)="goToEvents()"
    />
    <p-button
      [icon]="selButtonStyle.icon"
      [label]="selButtonStyle.label"
      styleClass="p-button-rounded w-8rem"
      [severity]="selButtonStyle.severity"
      (click)="goToProfile()"
    />
    <p-button
      icon="pi pi-sign-out"
      label="Cerrar Sesión"
      [severity]="selButtonStyle.severity"
      styleClass="p-button-rounded"
      (click)="logout()"
    />}
  </div>
</div>
<p-dialog
  header="Crear Evento"
  [(visible)]="displayCreateEvent"
  [style]="{ width: '70vw' }"
  [modal]="true"
>
  <event-create-form />
</p-dialog>
