<div
  class="w-full text-center flex flex-row justify-content-between align-items-center main"
>
  <div
    class="flex flex-row gap-4 m-2 justify-content-center align-items-center"
  >
    <img src="2.png" height="70rem" />

    @if (!isOnAuth) {
    <i class="pi pi-search" style="font-size: 1.5rem; color: white"></i>
    <input pInputText class="search" type="text" placeholder="Buscar eventos" />
    }
  </div>
  <div class="flex flex-row gap-4 m-2">
    @if (!isOnAuth) {
    <!-- Coordinator Buttons -->
    <p-button
      *ngIf="role === 'coordinator'"
      label="Gestionar Ponentes"
      icon="pi pi-users"
      [severity]="selButtonStyle.severity"
      (click)="goToSpeakers()"
    />
    <p-button
      *ngIf="role === 'coordinator'"
      icon="pi pi-plus"
      label="Nuevo Evento"
      [severity]="selButtonStyle.severity"
      (click)="displayCreateEvent = true"
    />
    <!-- Student Buttons -->
    <p-button
      *ngIf="role === 'student'"
      label="Mis Eventos"
      icon="pi pi-calendar"
      [severity]="selButtonStyle.severity"
      (click)="goToMyEvents()"
    />
    <header-notis />
    <!-- Common Buttons -->
    <p-button
      label="Eventos"
      icon="pi pi-calendar"
      [severity]="selButtonStyle.severity"
      (click)="goToEvents()"
    />
    <p-button
      [icon]="selButtonStyle.icon"
      [label]="selButtonStyle.label"
      styleClass="w-8rem"
      [severity]="selButtonStyle.severity"
      (click)="goToProfile()"
    />
    <p-button
      icon="pi pi-sign-out"
      label="Cerrar Sesión"
      [severity]="selButtonStyle.severity"
      (click)="logout()"
    />}
  </div>
</div>
<p-dialog
  header="Crear Evento"
  [(visible)]="displayCreateEvent"
  [style]="{ width: '70vw' }"
  [modal]="true"
>
  <event-create-form />
</p-dialog>
